@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@700&family=Lato:wght@400;700&family=Roboto:wght@100&display=swap');

html{
	scroll-behavior: smooth;
}
/**************************HEADER********************/
body{
	margin: auto;
}

header, .nav_bar{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}

.nav_bar{
	background-color: black;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.left-side, .right-side{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.left-side li, .right-side li{
	display: inline-block;
	padding-right: 20px;
}

.left-side li a, .right-side li a{
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: white;
}

.left-side{
	margin-left: 80px;
}

.right-side{
	margin-right: 80px;
}

.right-side li a{
	padding-left: 10px;
}

/*****************HERO BANNER*******************/

.hero{
	scroll-margin: 590px;
	width: 100%;
	height: 590px;
	background-image: url("images/hero.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero-body a{
	color: white;
	text-decoration: none;
}

.hero-body{
	position: relative;
	top: 260px;
	left: 90px;
}

.hero-body h3{
	display: inline-block;
	color: #1F4D39;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 30px;
}

/************************GLOBAL BUTTONS*****************/

.primary-button{
	background-color: #1F4D39;
	padding: 12px 50px;
	border: none;
	color: white;
}

.info-button{
	background-color: #AC790E;
	padding: 12px 30px;
	border: none;
	color: white;
}

.secondary-button{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
	padding: 12px 40px;
	border: none;
	color: black;
}

.stroked-button{
	margin-top: 15px;
	margin-bottom: 15px;
	background: none;
	padding: 12px 40px;
	border: 1px solid #D79509;
	color: #D79509;
}

/**************************ABOUT US***********************/

#about{
	background-color: #1E1E1E;
	color: white;
	margin: 0;
	padding: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

#about h2{
	color: #696969;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 5px;
}

#about h1{
	color: white;
	font-family: 'Brawler', serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 20px;
}

#about p{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 35px;
}

#about p a{
	color: #D79509;
	text-decoration: none;
}

#about ul{
	line-height: 35px;
	list-style-type: square;
}

/*****************************LEGACY**********************/

#legacy{
	background-color: black;
	color: white;
	margin: 0;
	padding: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	
}

#legacy h2{
	color: #696969;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 5px;
}

#legacy h1{
	color: white;
	font-family: 'Brawler', serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 20px;
}

#legacy h3{
	color: white;
	font-family: 'Brawler', serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 10px;
	text-align: center;
}

#legacy p{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	margin-top: 15px;
}

#legacy p a{
	color: #D79509;
	text-decoration: none;
}

/***************************LEGACY COLUMNS**********************/

.legacy-columns{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.col{
	flex: 50%;
}

.col #description{
	text-align: left !important;
	width: 605px;
}

.thumbnail{
	margin-top: 10px;
	margin-right: 30px;
	margin-bottom: 65px;
}

.responsive-img{
	width: 100%;
	height: auto;
	display: inline-block;
}

.preview{
	margin-top: 30px;
	margin-bottom: 58px;
	margin-left: 15px;
}

/*************************LEGACY SUB************************/
.mini-hero{
	width: 605px;
	height: 280px;
	margin: 15px;
	display: table;
	background-size: cover;
	background-position: center;
}

.mini-hero-body{
	margin: 15px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

/************************GALLERY**************************/

#gallery{
	background-color: black;
	color: white;
	margin: 0;
	padding: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	
}

#gallery h2{
	color: #696969;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 5px;
}

#gallery h3{
	color: white;
	font-family: 'Brawler', serif;
	font-weight: 700;
	font-size: 42px;
	line-height: 20px;
}

.gallery{
	width: 390px;
	height: 250px;
	padding: 16px;
}


/*************************REFERENCE**********************/

#reference{
	background-color: black;
	color: white;
	margin: 0;
	padding: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	
}

#reference h2{
	color: #696969;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 22px;
	letter-spacing: 5px;
}

#reference p{
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 35px;
}

#reference ul{
	line-height: 35px;
	list-style-type: square;
}

#reference ul a{
	text-decoration: none;
	color: white;
}

.reference-col{
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.ref-col{
	flex: 30%;
	text-align: left;
}


/****************************FOOTER***********************/

#footer{
	text-align: center;
	background-color: black;
	color: white;
	margin: 0;
	padding: 80px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

#footer a{
	text-decoration: none;
	color: #D79509;
}

#footer hr{
	margin-top: 15px;
	margin-bottom: 15px;
	border: 1px solid #373737;
}

#footer p{
	color: #6C6C6C;
	font-size: 12px;
}
